@import url('./pico.min.css');

/*Shared*/
.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.blue-border{
    border: 3px solid rgb(98,143,218);
    border-radius: 5px;
}

/*Header*/

.header{
    margin: 2rem!important;
    padding: 0!important;
}

/*Stats */
.stats{
    padding: 2rem;
    justify-content: space-between;
}
.gh-stats{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.gh-stats-1 img {
    width: 28rem;
}
.gh-stats-2 img{
    width: 20rem;
}

/*Projects*/
.projects-list{
    width: 22rem;
    height: 28rem;
    overflow: auto;
    border: 3px solid rgb(98,143,218);
    border-radius: 5px;
}

.projects-list .project{
    border: 1px solid white; 
    background: rgb(26,27,39);
    padding: 10px; 
    margin-bottom: 1rem;
}

.project:hover{
    background: #25272c;
    transition: 500ms;
}
.project div {
    margin-top: 1rem;
}

.project small {
    color: rgb(49,156,146)!important;
}