:root {
    font-size: 16px;
}

/* change scroll bar style */
body::-webkit-scrollbar {
    width: 0.25rem;
}

/* scroll bar background color
 */
 body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #4c42d677 ;
}

::selection {
    background: #0080FF;
    text-shadow: none;
  }

#about_infos{
    background-color: black;
    width: 80%;
    line-height: 1rem;
    display: block!important;
    justify-content: center;
    text-align: center;
    line-height: 1rem;
}

.infos_name{
    margin-top: 1rem;
}

#about_links{
    background-color: gray;
    width: 20%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.profile_socials{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.profile_socials > li > a {
    width: 6rem;
}


.project_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    text-align: center;
}

.project_item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    transition: 1s;
    text-align: center;
    justify-content: center;
}

.project_item article{
    width: 20rem;
    border-radius: 1rem;
    justify-content: center;
    text-align: center;
    transition: 1s;
}

.project_item article:hover {
    transform: scale(1.1);
    z-index: 2;
    transition: 1s;
}
.project_img{
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}


.project_article_footer{
    background-color: transparent;
    border-top: 1px solid black;
}

.loading {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: opacity 0.75s, visibility 0.75s;

}

.loading-hidden{
    display: none;
    opacity: 0;

}


.project_article_header{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.project_github_link{
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
    background-color: #1e1e24;
    transition: 500ms;

    
}

.project_github_link:hover{
    background-color: #4c42d677;

}
.project_github_logo{
    width: 3rem;
}



.blinker {
    opacity: 1;
    margin-bottom: -2px;
    height: 15px;
    margin-left: -5px;
    border-left: 7px solid white;
    animation: blinker 0.9s steps(2, start) infinite;
  }
  
  @keyframes blinker {
    to { 
      visibility: hidden; 
    }
  }

/* ============= SKIlls ========= */

.skills_container {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
}

kbd{
    background-color: #11191F;
    color: white;
    border: solid 0.5px #2f2b5f77 ;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    font-size: 1rem;
}
kbd:hover{
    background-color: black;
    transition: 500ms;
}
kbd img{
    margin: 0 1rem;
}

kbd div {
    display: flex;
    justify-content: left;
    margin-top: 1rem;
    align-items: center;
}
kbd div:hover{
    background-color: #4c42d677;
}

.certification_container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.certification{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: solid 0.5px #2f2b5f77 ;
    margin: 1rem;
}
.certification img{
    width: 30px;
}
.certification a {
    text-decoration: none;
}
.certification:hover{
    background-color: black;
    transition: 500ms;
}
.certification_click{
    cursor: pointer;
    margin-bottom: 1rem;
}
.stuff_coded{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

/* Footer */

.footer{
    align-items: center;
    justify-content: center;
}

.footer_music{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer_music img{
    width: auto;
}

.footer_footer{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background-color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.reserved{
    font-size: 10px;
}

/*Now the funniest part */
#easter_egg{
    display: none;
}

  /* =========== MIDDLE SCREEN MEDIA  QUERIES ============*/

  @media screen and (max-width: 1025px) {
    .project_item{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

    .skills_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

  /* =========== SMALL SCREEN MEDIA  QUERIES ============*/

@media screen and (max-width: 650px) {
    .project_item{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #about_links{
        text-align: center;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
        border-radius: 1rem;
        margin-bottom: 2rem;
    }

    #about_infos{
        width: 100%;
    }
    #about_infos > p {
        margin: 1rem;
    }

    .profile_socials{
        display: flex;
        flex-direction: row;

    }
    .profile_socials > li {
    }
    #fork_on_github{
        display: none;
    }
    .project_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project_item article{
        width: 100%;

    }

    .skills_container{
        display: flex;
        flex-direction: column;
    }

}


